.Aboutus-big-screen{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:space-around;
}
.Aboutus {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px 50px 50px 0px;
}
.Aboutus-container-1{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.Aboutus-img{
    width: 90%;
    height: 90%;
    object-fit: fill;
}
.Aboutus-container-2 {
  width: 100%;
  height: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
.Aboutus-heading {
  font-family: var(---total-font-family);
  font-size: 36px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--text-dark-gray-color);
  margin-left:130px;
}
.Aboutus-text {
  font-family: var(---total-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--text-gray-color);
  width: 460px;
  margin-left:130px;
}
@media (max-width:1000px){
  .Aboutus {
    grid-template-columns: 1fr;
    position: relative;
    align-items: center;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
    gap: 40px;
  }
  .Aboutus-container-1{
    gap: 40px;
  }
  .Aboutus-img{
    width: 100%;
    height: 100%;
  }
  .Aboutus-heading,.Aboutus-text {
    width: auto  ;
    text-align: center;
    margin-left:0px;
  }
}
@media (max-width:700px){
  .Aboutus-heading {
    font-family: var(---total-font-family);
    font-size: 25px;
  }
  .Aboutus-text {
    font-family: var(---total-font-family);
    font-size: 12px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--text-gray-color);
  }
}
/* @media (max-width:350px){
  .Aboutus-text {
    font-size: 14px;
    line-height: 29px;
  }
} */
@media(min-width:1400px){
  .Aboutus {
    width: 1400px;
  }
}