.Ourproducts-big-screen{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:space-around;
}
.Ourproducts {
  width: 100%;
  min-height: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.Ourproducts-heading-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.Ourproducts-heading {
  font-family: var(--total-font-family);
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0px;
  text-align: center;
  color: var(--text-dark-gray-color);
}
.Ourproducts-heading-text {
  font-family: var(--total-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  color: #999999;
}
.product-card {
  width: 339px;
  height: 367px;
  border: 1px solid #e4e4ee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.poductimage {
  width: 255px;
  height: 255px;
}
.product-name {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #0072bc;
}
.porduct-price-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.product-price {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #25252e;
}
.product-Enquiry-btn {
  width: 250px;
  height: 36px;
  border-radius: 5px;

  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-align: center;
  color: #ec3237;
  background: transparent;
  border: 1px solid #ec3237;
  cursor: pointer;
}

.product-slider-carousel .slick-dots{
  position: absolute;
  bottom: -60px;

}


@media(max-width:700px){
  .Ourproducts{
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media(max-width:700px){
  .Ourproducts-heading {
    font-size: 25px;
  }
  .product-card {
    width: 290px;
    height: 300px;
  }
  .poductimage {
    width: 200px;
    height: 200px;
  }
  .product-name {
    font-size: 16px;
  }
  .product-price {
    font-size: 16px;
  }
  .product-Enquiry-btn {
    width: 90px;
    height: 30px;
    border-radius: 5px;
    font-size: 10px;
  }
.Ourproducts-heading-text {
  font-size: 12px;
  }
}
@media(max-width:600px){
  .product-card {
    width: 230px;
    height: 270px;
  }
  .product-name {
    font-size: 14px;
  }
  .poductimage {
    width: 150px;
    height: 150px;
  }
}
@media(max-width:400px){
  .product-card {
    width: 200px;
    height: 270px;
  }
  .product-name {
    font-size: 12px;
  }
  .poductimage {
    width: 120px;
    height: 120px;
  }
  .product-price {
    font-size: 14px;
  }
  .product-Enquiry-btn {
    width: 70px;
    height: 30px;
    border-radius: 5px;
    font-size: 10px;
  }
}
@media (max-width:350px){
  .Ourproducts-heading-text {
    font-size: 14px;
    line-height: 29px;
  }
}
@media(min-width:1400px){
  .Ourproducts {
    width: 1400px;
  }
}