.Ourservices-big-screen{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:space-around;
}
.Ourservices {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 30px;
  margin-top: 50px;
}
.Ourservices-container-1 {
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.Ourservice-heading {
  font-family: var(--total-font-family);
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0px;
  text-align: center;
  color: var(--text-dark-gray-color);
}
.Ourservice-text {
  font-family: var(--total-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  color: #999999;
}
.Ourservices-container-2 {
  width: 100%;
  height: auto;
}
.Ourservice-1 {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.Ourservice--img-container {
  /* width: 100%;
  height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.Ourserviceimg{
    width: 90%;
    height: 90%;
    object-fit: fill;
}
.Ourservice--text {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 20px;
}
.Ourservice-1-text-heading {
  margin-left:130px;
  color: var(--text-dark-gray-color);
  font-family: var(--total-font-family);
  font-size: 36px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: left;
}
.Ourservice-1-text-text {
 width: 460px;
 margin-left:130px;
  color: #999999;
  font-family: var(--text-gray-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
}
@media(max-width:1000px){
  .Ourservice--img-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
 
  }
  .Ourservice-1 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.Ourservices-container-2 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.Ourservice-1-text-heading,.Ourservice-1-text-text {
  width: auto  ;
  text-align: center;
  margin-left:0px;
}
}
@media(max-width:700px){
  .Ourservice-heading ,.Ourservice-1-text-heading{
    font-size: 30px;
  }

}
@media(max-width:350px){
  .Ourservice-1-text-text,.Ourservice-text {
    font-size: 14px;
  }

}
@media(min-width:1400px){
  .Ourservices {
    width: 1400px;
  }
}