.Testmonial-big-screen{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:space-around;
}
.Testmonial {
  width: 100%;
  min-height: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-top: 50px;
}
.Testmonial-heading-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.Testmonial-heading {
  font-family: var(--total-font-family);
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0px;
  text-align: center;
  color: var(--text-dark-gray-color);
}
.Testmonial-heading-text {
  font-family: var(--total-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  color: #999999;
}
.review-container {
  width: 347.83px;
  height: 350.79px;
  border-radius: 1px;
  border: 1px solid #e7eaec;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
gap: 20px;
}
.image-conateiner {
  display: flex;
  justify-content: space-evenly;
}
.coustomer-img {
  width: 80.21px;
  height: 80.21px;
}
.Star {
  width: 181.81px;
  height: 32.08px;
}
.Coustomer-name {
  font-family: var(--total-font-family);
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--text-dark-gray-color);
}
.review-text {
  font-family: var(--total-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #7c7c7c;
}
.Testmonial-slider-carousel {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.Testmonial-carousel-icon {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
  @media(max-width:1000px){
    .Testmonial {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  @media(max-width:700px){
    .Testmonial-heading {
      font-size: 25px;
    }
    .Testmonial-heading-text {
      font-size: 12px;
      line-height: 24px;
    }
    .review-text {
      font-size: 12px;
    }
    .Coustomer-name {
      font-size: 20px;
    }
  }
@media(max-width:600px){
  .Testmonial {
    gap: 40px;
}
.review-container {
  width: 220.83px;
  height: 350.79px;
}

}
  @media(max-width:400px){
    .coustomer-img {
      width: 60px;
      height: 60px;
    }
    .Star {
      width: 151px;
      height: 28px;
    }
  }

  @media(min-width:1400px){
    .Testmonial  {
      width: 1400px;
    }
  }